.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.middle {
    display: table-cell;
    vertical-align: middle;
    
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    height: 220px;
    background-color: rgba(208, 208, 208, 0.8);
    border-radius: 15px;
}

#f1 {
    position: relative;
    top: 12px;
    left: 18px;
    width: 96%;
}
